
/* Global Styles  */

/* Box model Fix */
html {
    box-sizing: border-box;
}

*, *:before,*:after{
    box-sizing: inherit;
}

/* Box model Fix */

body{
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;

}
img /*selector*/ { /*description box*/
    width : 300px; /*description*/
}
a {
    color: blue;
    display: inline-block;
    margin: 10px 0;
    background: #77ffff;
    text-decoration: none;
    padding: 8px;
}
a:hover {
    color : red;
}

h1 {
    font-size: 50px;
    line-height: 1;
    margin: 0;
}

h2 {
    font-size: 20px;

}

h1 h2 {
    font-weight: 400px;
}

h3 {
    margin: 0;
}
/* Advanced Selectors combinators */
.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 10;
}



.content-wrap {
    max-width: 900px;
    width : 85%;
    margin: 0 auto;
    padding: 60px 0 ;
    line-height: 1.5;
}

.divider > section {
    border-bottom: 1px dashed grey;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile  */

header{
    background-color: lightblue;
    color : black;
}
header a{
  all : unset;
  margin: 5px ;
}

.LI-profile-badge {
    float: right;
    margin-left: 20px;
}

/* Education  */

.education  {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
    line-height: 2;
}

.education p {
    width: 60%;
    text-align: left;
}


/* Projects  */
.projects {
     background: lightyellow;
}

/* .projects a {

} */

.projects .btn {
    color: darkblue;
    background: #77ffff;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: rgba(47,48,97,80);
}

.project-line {
    overflow: hidden;

}

.project-line h3 {
    margin: 0;
}

.project-line p{
    font-size: 14px;
    line-height: 1.5;
}


/* Work Experience  */
.work-experience{
    background-image: url(../images/office-background.jpg);
    background-size: cover;
    background-position: top right;

 }

 .work-experience p {
     width: 60%;

 }

.job-summary p{
    margin: 0;
    padding: 0;
}

/* Contact Info  */

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contact-list a {
    background : none;
}

.contact-list a {
    padding: 15px;
    display: inline-table;
}


footer{
    background: lightblue;
}

.middle{
  position: : center;
  top: 50%;
  /* transform: translateY(-50%); */
  /* width: 100%; */
  text-align: center;
}
.content-wrap .contact-btn{
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.content-wrap .contact-btn i{
  line-height: 70px;
  font-size: 40px;
  transition: 0.2s linear;
}
.contact-btn{
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  margin: 20px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.contact-btn i{
  line-height: 50px;
  font-size: 40px;
  transition: 0.2s linear;
}
.contact-btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.contact-btn::before{
  content: "";
  position: absolute;
  width: 90%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.contact-btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}


/* Responsive Layout */

@media screen and (min-width : 750px){

    header , footer {
        text-align: left;
    }
    .project-line img {
        width : 150px;
        float: right;
        margin-right: 0;
    }

    .job-item {
        /* display: grid;
        grid-template-columns: 4fr 5fr;
        column-gap: 40px; */
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }

    .contacts a{
      justify-content: center;
    }


}

@media screen and (max-width : 749px){
    .LI-profile-badge {
        float: left;
        margin: 20px;
    }

    h1 {
        font-size: 75px;
        line-height: 1;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
}
